@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

 <br />

<div class="row">
        <div class="col-md-6">
            <h2>Triage Overview</h2>
            <input type="button" onclick="location.href='https://localhost:7199/Treat?Name=Svein';" value="Svein" />
            <input type="button" onclick="location.href='https://localhost:7199/Treat?Name=Turid';" value="Turid" />
            <input type="button" onclick="location.href='https://localhost:7199/Treat?Name=Kjell';" value="Kjell" />
            <input type="button" onclick="location.href='https://localhost:7199/Treat';" value="All" />

             
        <br />
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Triage Level</th>
                    <th>Assigned Doctor</th>
                    
                </tr>

                @foreach(var item in Model.PatientsWithDoctors)
                {   
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Triage</td>
                        <td>@item.Doctor</td>
                    </tr>
                }
            </table>
        </div>
 </div>

<div class="row">
        <div class="col-md-6">
            <h2>Unassigned Patients</h2>
            <input type="button" onclick="location.href = 'https://localhost:7199/Treat/';" value="All Conditions" />
            <input type="button" onclick="location.href = 'https://localhost:7199/Treat/?TriageLevel=4';" value="Critical Condition" />
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Triage Level</th>
                    <th>Assigned Doctor</th>
                    
                </tr>

                @foreach(var item in Model.PatientsWithOutDoctors)
                {   
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Triage</td>
                        <td>@item.Doctor</td>
                        
                    </tr>
                    
                }
            </table>
            
        
      
 </div>



 


